.settingsContainer{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

.middlepaneSettings{
    width: 100%;
    height: 100vh;
}
.rectangleContainer{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    align-content: center;
    align-self: center;
}

.settingsbutton{
    margin-left: 10px;
    font-weight: bolder;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(174, 204, 241);
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(26, 11, 59);
}

.alignItems{
    align-items: center;
}

.settingsText{
    font-weight: bold;
    font-size: 26px;
}
.d-flex{
    display: flex;
}